

/*HEADER*/

.nav {
	position: fixed;
	background-color: white;
	width: 100%;
	height: 3rem;
	min-height: 1.5rem;
	padding-left: 1rem;
	padding-top: 0rem;
	padding-bottom: .5rem;
	z-index: 100;
}

.header-overlay {
	position: absolute;
	left: 1rem;
	max-height: 100%;
}

	.header-overlay h1 {
		font-size: 2.25rem;
		font-weight: bolder;
		color: black;
	}

.relative {
	position: relative;
}

.fullrow {
	height: 100vh;
	min-height: 30rem;
}

.fullrow img {
	height: 100vh;
	overflow: hidden;
}

.halfrow {
	height: 50vh;
	min-height: 15rem;
}

.thirdrow {
	height: 33.3vh;
	min-height: 10rem;
}

.sixthrow {
	height: 16.66vh;
	min-height: 5rem;
}

/*TYPE*/

.a {
	color: inherit;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.preview {
	position: absolute;
	left: 1rem;
	width: 50%;
}

	.overlay {
		top: 0;
	}

	.white h1 {
		color: white;
	}

	.white h2 {
		color: white;
	}

	.black h1 {
		color: black;
	}

	.black h2 {
		color: black;
	}

	.overlay h1 {
		font-family: 'Ek Mukta', sans-serif;
		font-weight: 700;
		font-size: 3.75rem;
	}

	.overlay h2 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 3.5rem;
		font-weight: 300;
		line-height: .125;
	}
	
	.large-small h1 {
			font-family: 'Ek Mukta', sans-serif;
			font-size: 4.75rem;
			font-weight: 800;
		}

		.large-small h2 {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 3.75rem;
			font-weight: 200;
			line-height: .125;
		} 


	.large-large h1 {
		font-family: 'Ek Mukta', sans-serif;
		font-size: 3.75rem;
		font-weight: 800;
	}

	.large-large h2 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 3.5rem;
		font-weight: 200;
		line-height: .1;
	}
/*PROJECT STUFF*/

.project-header {
	padding-top: 40vh;
	padding-left: 15vw;
	padding-right: 5vw;
	min-width: 175px;
}


	.project-header h1 {
		font-family: 'Ek Mukta', sans-serif;
		font-size: 4rem;
		font-weight: 800;
		line-height: .9;
	}

	.project-header h2 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 4vw;
		font-weight: 200;
		line-height: 1;
		margin-bottom: 1.5rem;
	}

	.project-header p {
		font-size: 1.15rem;
	}

.project-copy {
		min-width: 175px;
		padding-right: 10vw;
		padding-top: 2rem;
}

	.project-copy p {
		padding-bottom: 0;
		min-width: 175px;
		font-size: 1.15rem;
		padding-left: 5vw;
		padding-right: 5vw;
	}

/*SMOKEOUT*/
	.projecthero {
	background-image: url('../img/medium_project_fullrow_smokeout__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-width: 100%;
     background-size: cover;
    min-width: 33%;
 
	}

	.project_0 {
	background-image: url('../img/medium_project_fullrow_smokeout2__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135vh;
	
		}

	.project_1 {
	background-image: url('../img/medium_project_halfrow_smokeout3_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
	}

	.project_2 {
	background-image: url('../img/medium_project_halfrow_smokeout4_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
	}

	.project_3 {
	background-image: url('../img/medium_project_halfrow_smokeout5_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.project_4 {
	background-image: url('../img/medium_project_halfrow_smokeout6_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.project_5 {
	background-image: url('../img/medium_project_halfrow_tablet_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

/*MONSANTO*/
	.project2hero {
	background-image: url('../img/large_project_fullrow_reportcover_900x1100.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-width: 100%;
     background-size: cover;
    min-width: 33%;
 
	}

	.project2_0 {
	background-image: url('../img/medium_project_fullrow_monsanto__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135vh;
	
		}

	.project2_1 {
	background-image: url('../img/medium_project_halfrow_monsanto2_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
	}

	.project2_5 {
	background-image: url('../img/medium_project_halfrow_monsanto5_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

/*JURIS*/
	.project6hero {
	background-image: url('../img/medium_project_fullrow_juris__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-width: 100%;
     background-size: cover;
    min-width: 33%;
 
	}

	.project6_1 {
	background-image: url('../img/medium_project_fullrow_juris2__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135vh;
	
		}

	.project6_2 {
	background-image: url('../img/medium_project_halfrow_juris3_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
	}

	.project6_3 {
	background-image: url('../img/medium_project_halfrow_juris4_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

/*COC*/
	.project3hero {
	background-image: url('../img/medium_project_fullrow_coc__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-width: 100%;
     background-size: cover;
    min-width: 33%;
 
	}

	.project3_1 {
	background-image: url('../img/medium_project_fullrow_COC2__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135vh;
	
		}

	.project3_2 {
	background-image: url('../img/medium_project_halfrow_coc_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
	}

	.project3_3 {
	background-image: url('../img/medium_project_halfrow_coc2_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

	.project3_4 {
	background-image: url('../img/medium_project_halfrow_coc3_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}


	/*SMELL*/

		.project4hero {
	background-image: url('../img/medium_project_fullrow_smell__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-width: 100%;
     background-size: cover;
    min-width: 33%;
 
	}

	.project4_1 {
	background-image: url('../img/medium_project_fullrow_smell2__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135vh;
	
		}

	.project4_2 {
	background-image: url('../img/medium_project_halfrow_smell3_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
	}

	.project4_3 {
	background-image: url('../img/medium_project_halfrow_smell4_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

	.project4_4 {
	background-image: url('../img/medium_project_fullrow_smell4__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

	.project4_5 {
	background-image: url('../img/medium_project_fullrow_smell5__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

	/*PHOTOS*/

	.project5hero {
	background-image: url('../img/medium_project_fullrow_jeff__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-width: 100%;
     background-size: cover;
    min-width: 33%;
 
	}

	.project5_1 {
	background-image: url('../img/medium_project_fullrow_photo2__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135vh;
	
		}

	.project5_2 {
	background-image: url('../img/medium_project_fullrow_jeff2__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
	}

	.project5_3 {
	background-image: url('../img/medium_project_fullrow_jeff3__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

	/*WIRED*/

	.project7hero {
	background-image: url('../img/medium_project_fullrow_wiredhero__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-width: 100%;
     background-size: cover;
    min-width: 33%;
 
	}

	.project7_1 {
	background-image: url('../img/medium_project_fullrow_wiredhero2__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 159vh;

	
		}

	.project7_2 {
	background-image: url('../img/medium_project_halfrow_wired_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
	}

	.project7_3 {
	background-image: url('../img/medium_project_halfrow_wired2_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 70vh;
	}

		.project7_4 {
	background-image: url('../img/medium_project_halfrow_wired3_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 70vh;
	}


/*IMAGES*/


	.subhero {
	background-image: url('../img/small_preview_fullrow_wired_750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}


.preview_0 {
	background-image: url('../img/small_preview_fullrow2_750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

.preview_1 {
	background-image: url('../img/small_preview_halfrow_grandma_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

.preview_2 {
	background-image: url('../img/small_preview_halfrow_juris_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}	

.preview_3 {
	background-image: url('../img/small_preview_halfrow_monsanto_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

.preview_4 {
	background-image: url('../img/small_preview_halfrow_COC_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}


.preview_5 {
	background-image: url('../img/small_preview_halfrow_smokeout_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

.preview_6 {
	background-image: url('../img/large_preview_halfrow_dumpster_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

.preview_7 {
	background-image: url('../img/small_preview_halfrow_grandpa_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

.preview_8 {
	background-image: url('../img/small_preview_halfrow_monsanto2_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

.preview_9 {
	background-image: url('../img/small_preview_halfrow_juris2_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

.preview_10 {
	background-image: url('../img/small_preview_halfrow_COC2_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

.selfie {
	background-image: url('../img/small_selfie_750x500.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

/*FOOTER*/

.social {
	padding-top: 2.5rem;
	height: 25vh;
}

.contact {
	padding-top: 5rem;
	padding-right: 2.5rem;
}

	.contact h1 {
		font-family: 'Ek Mukta', sans-serif;
		font-size: 1.5vw;
		line-height: 1;
		font-weight: 600;
	}

		.contact h2 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.5vw;
		line-height: .9;
		font-weight: 200;
	}

			.contact h3 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1.5vw;
		line-height: .9;
		font-weight: 300;
	}

.subhead {
	padding-bottom: 2vw;
	padding-top: 4.5rem;
	padding-left: 2.5rem;
}

	.subhead h1 {
		font-family: 'Ek Mukta', sans-serif;
		font-size: 6vw;
		font-weight: 600;
		margin-bottom: 0;
		text-align: center;
	}

	/*.slick-prev{
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 5vw;
      background-size: cover;

    }

    .slick-next{
      display: block;
      position: absolute;
	  top: 50%;
      right: 0;
      width: 5vw;
      background-size: cover;

    }*/
	
	/*SMALL HERO SLIDER IMAGES*/

	.smallherotype {
		position: relative;
		width: 40vw;
		top: 75%;
		left: 33vw;
	}

	.small-hero-1 {

		width: 100%;
		height: 100vh;
		background-image: url(../img/small_hero_smokeout_750x1000.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.small-hero-1 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 11vw;
					line-height: .75;
					color: white;
				}

				.small-hero-1 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 7vw;
					line-height: 1;
					color: white;
				}

	.small-hero-2 {

		width: 100%;
		height: 100vh;
		background-image: url(../img/small_hero_COC_750x1000.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.small-hero-2 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 11vw;
					line-height: .75;
					color: white;
				}

				.small-hero-2 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 7vw;
					line-height: 1;
					color: white;
				}

	.small-hero-3 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/small_hero_wired_750x1000.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.small-hero-3 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 11vw;
					line-height: .75;
					color: white;
				}

				.small-hero-3 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 7vw;
					line-height: 1;
					color: white;
				}

	.small-hero-4 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/small_hero_jeff_750x1000.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.small-hero-4 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 11vw;
					line-height: .75;
					color: white;
				}

				.small-hero-4 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 7vw;
					line-height: 1;
					color: white;
				}

	.small-hero-5 {
	v
		width: 100%;
		height: 100vh;
		background-image: url(../img/small_hero_monsanto_750x1000.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.small-hero-5 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 11vw;
					line-height: .75;
					color: white;
				}

				.small-hero-5 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 7vw;
					line-height: 1;
					color: white;
				}

	.small-hero-6 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/small_hero_juris_750x1000.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.small-hero-6 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 11vw;
					line-height: .75;
					color: white;
				}

				.small-hero-6 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 7vw;
					line-height: 1;
					color: white;
				}

	.small-hero-7 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/small_hero_grandpa_750x1000.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.small-hero-7 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 11vw;
					line-height: .75;
					color: white;
				}

				.small-hero-7 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 7vw;
					line-height: 1;
					color: white;
				}

	/*MEDIUM HERO SLIDER IMAGES*/

	.mediumherotype {
		position: relative;
		width: 40vw;
		top: 70%;
		left: 50vw;
	}

	.medium-hero-1 {

		width: 100%;
		height: 100vh;
		background-image: url(../img/medium_hero_smokeout_1100x900.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.medium-hero-1 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 7.5vw;
					line-height: .75;
					color: white;
				}

				.medium-hero-1 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 5.5vw;
					line-height: 1;
					color: white;
				}

	.medium-hero-2 {

		width: 100%;
		height: 100vh;
		background-image: url(../img/medium_hero_COC_1100x900.jpg);
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;

	}

				.medium-hero-2 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 7.5vw;
					line-height: .75;
				}

				.medium-hero-2 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 5.5vw;
					line-height: 1;
				}

	.medium-hero-3 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/medium_hero_wired_1100x900.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.medium-hero-3 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 7.5vw;
					line-height: .75;
				}

				.medium-hero-3 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 5.5vw;
					line-height: 1;
				}
				
	.medium-hero-4 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/medium_hero_jeff_1100x900.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.medium-hero-4 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 7.5vw;
					line-height: .75;
				}

				.medium-hero-4 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 5.5vw;
					line-height: 1;
				}
				
	.medium-hero-5 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/medium_hero_monsanto_1100x900.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.medium-hero-5 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 7.5vw;
					line-height: .75;
				}

				.medium-hero-5 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 5.5vw;
					line-height: 1;
				}
				
	.medium-hero-6 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/medium_hero_juris_1100x900.jpg);
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;

	}

				.medium-hero-6 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 7.5vw;
					line-height: .75;
				}

				.medium-hero-6 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 5.5vw;
					line-height: 1;
				}
				
	.medium-hero-7 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/medium_hero_grandpa_1100x900.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}

				.medium-hero-7 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 7.5vw;
					line-height: .75;
				}

				.medium-hero-7 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 5.5vw;
					line-height: 1;
				}
				
/*LARGE HERO SLIDER IMAGES*/
	
	.largeherotype {
		position: relative;
		width: 40vw;
		top: 70%;
		left: 50%;
	}

	.large-hero-1 {

		width: 100%;
		height: 100vh;
		background-image: url(../img/large_hero_smokeout_1500x1200.jpg);
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;

	}

				.large-hero-1 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 5.5vw;
					line-height: .75;
				}

				.large-hero-1 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 3.5vw;
					line-height: 1;
				}

	.large-hero-2 {

		width: 100%;
		height: 100vh;
		background-image: url(../img/large_hero_COC_1500x1200.jpg);
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;

	}
				.large-hero-2 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 5.5vw;
					line-height: .75;
					color: white;
				}

				.large-hero-2 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 3.5vw;
					line-height: 1;
					color: white;
				}

	.large-hero-3 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/large_hero_wired_1500x1200.jpg);
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;

	}
				.large-hero-3 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 5.5vw;
					line-height: .75;
					color: black;
				}

				.large-hero-3 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 3.5vw;
					line-height: 1;
					color: black;
				}

	.large-hero-4 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/large_hero_jeff_1500x1200.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}
				.large-hero-4 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 5.5vw;
					line-height: .75;
					color: white;
				}

				.large-hero-4 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 3.5vw;
					line-height: 1;
					color: white;
				}

	.large-hero-5 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/large_hero_monsanto_1500x1200.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}
				.large-hero-5 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 5.5vw;
					line-height: .75;
					color: black;
				}

				.large-hero-5 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 3.5vw;
					line-height: 1;
					color: black;
				}

	.large-hero-6 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/large_hero_juris_1500x1200.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}
				.large-hero-6 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 5.5vw;
					line-height: .875;
					color: black;
				}

				.large-hero-6 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 3.5vw;
					line-height: 1;
					color: black;
				}

	.large-hero-7 {
	
		width: 100%;
		height: 100vh;
		background-image: url(../img/large_hero_grandpa_1500x1200.jpg);
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;

	}
				.large-hero-7 h1 {
					position: relative;
					font-family: 'Ek Mukta', sans-serif;
					font-weight: 800;
					font-size: 5.5vw;
					line-height: .75;
					color: black;
				}

				.large-hero-7 h2 {
					position: relative;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 200;
					font-size: 3.5vw;
					line-height: 1;
					color: black;
				}


/*/MEDIA QUERIES*/

/* Medium and up */
@media screen and (min-width: 40em) {
	
	.overlay {
		top: .6rem;
	}

	.overlay h1 {
		font-size: 2rem;
		line-height: .85;
	}

	.overlay h2 {
		font-size: 1.75rem;
		line-height: .9;
		font-weight: 300;
	}

	.large-large {
		top: 1.5rem;
	}

	.large-small h1 {
			font-size: 3.75rem;
		}

		.large-small h2 {
			font-size: 3.5rem;
	}

		.large-large h1 {
		font-size: 2rem;
		line-height: .8;
	}

	.large-large h2 {
		font-size: 2.5rem;
		line-height: .7;
	}

.project-header {
	padding-top: 40vh;
	padding-left: 15vw;
	padding-right: 5vw;
	min-width: 175px;
}


	.project-header h1 {
		font-family: 'Ek Mukta', sans-serif;
		font-size: 4rem;
		font-weight: 800;
		line-height: .9;
	}

	.project-header h2 {
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 4vw;
		font-weight: 200;
		line-height: 1;
		margin-bottom: 1.5rem;
	}

	.project-header p {
		font-size: 1rem;
		line-height: 1.5;
	}

.project-copy {
		min-width: 175px;
		padding-right: 10vw;
		padding-top: 2rem;
}

	.project-copy p {
		padding-bottom: 0;
		min-width: 175px;
		font-size: 1rem;
		padding-left: 5vw;
		padding-right: 5vw;
	}

	.subhero {
	background-image: url('../img/medium_preview_fullrow_wired__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.projecthero {
	background-image: url('../img/medium_project_fullrow_smokeout__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-width: 100%;
     background-size: cover;
    min-width: 33%;
 
	}

	.project_0 {
	background-image: url('../img/medium_project_fullrow_smokeout2__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135vh;
	
		}

	.project_1 {
	background-image: url('../img/medium_project_halfrow_smokeout3_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
	}

	.project_2 {
	background-image: url('../img/medium_project_halfrow_smokeout4_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
	}

	.project_3 {
	background-image: url('../img/medium_project_halfrow_smokeout5_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.project_4 {
	background-image: url('../img/medium_project_halfrow_smokeout6_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.project_5 {
	background-image: url('../img/medium_project_halfrow_tablet_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

	.project_6 {
	background-image: url('../img/large_project_halfrow_laptops_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.project_7 {
	background-image: url('../img/large_project_halfrow_laptops_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}



	.preview_0 {
	background-image: url('../img/large_project_fullrow_smokeout2_900x1100.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-width: 33%;
	}

	.preview_1 {
	background-image: url('../img/large_preview_halfrow_grandma_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_2 {
	background-image: url('../img/medium_preview_halfrow_juris_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_3 {
	background-image: url('../img/medium_preview_halfrow_monsanto_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_4 {
	background-image: url('../img/medium_preview_halfrow_COC_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}


	.preview_5 {
	background-image: url('../img/medium_preview_halfrow_smokeout_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_6 {
	background-image: url('../img/large_preview_halfrow_dumpster_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_7 {
	background-image: url('../img/medium_preview_halfrow_grandpa_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_8 {
	background-image: url('../img/medium_preview_halfrow_monsanto2_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_9 {
	background-image: url('../img/medium_preview_halfrow_juris2_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_10 {
	background-image: url('../img/medium_preview_halfrow_COC2_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.selfie {
	background-image: url('../img/medium_selfie_1200x500.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {

	.overlay {
		top: 1.3rem;
	}

	.overlay h1 {
		font-size: 2.5rem;
	}

	.overlay h2 {
		font-size: 2rem;
	}

	.large-small h1 {
			font-size: 6rem;
		}

	.large-small h2 {
			font-size: 4.75rem;
	} 


	.large-large h1 {
		font-size: 3.75rem;
	}

	.large-large h2 {
		font-size: 3rem;
	}

	.project-overlay h1 {
	font-size: 2rem;
	}


	.subhero {
	background-image: url('../img/large_preview_fullrow_wired_900x1100.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.projecthero {
	background-image: url('../img/large_project_fullrow_smokeout_900x1100.jpg');
	background-repeat: no-repeat;
    background-position: top;
    background-width: 100%;
  
	}

	.project_0 {
	background-image: url('../img/large_project_fullrow_smokeout2_900x1100.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 135vh;
	
		}

	.project_1 {
	background-image: url('../img/large_project_halfrow_laptops_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
	}

	.project_2 {
	background-image: url('../img/large_project_halfrow_laptops2_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
	}

	.project_3 {
	background-image: url('../img/large_project_halfrow_mobile_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.project_4 {
	background-image: url('../img/large_project_halfrow_mobile2_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.project_5 {
	background-image: url('../img/large_project_halfrow_tablet_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	height: 85vh;
	}

	.project_6 {
	background-image: url('../img/large_project_halfrow_laptops_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.project_7 {
	background-image: url('../img/large_project_halfrow_laptops_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}


	.preview_1 {
	background-image: url('../img/large_preview_halfrow_grandma_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_2 {
	background-image: url('../img/large_preview_halfrow_juris_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}	

	.preview_3 {
	background-image: url('../img/large_preview_halfrow_monsanto_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_4 {
	background-image: url('../img/large_preview_halfrow_COC_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_5 {
	background-image: url('../img/large_preview_halfrow_smokeout_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_6 {
	background-image: url('../img/large_preview_halfrow_dumpster_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_7 {
	background-image: url('../img/large_preview_halfrow_grandpa_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_8 {
	background-image: url('../img/large_preview_halfrow_monsanto2_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_9 {
	background-image: url('../img/large_preview_halfrow_juris2_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.preview_10 {
	background-image: url('../img/large_preview_halfrow_COC2_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}


	.selfie {
	background-image: url('../img/large_selfie_1500x750.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

