

/*HEADER*/

.nav {
	position: fixed;
	background-color: white;
	width: 100%;
	height: 3rem;
	min-height: 1.5rem;
	padding-left: 1rem;
	padding-top: 0rem;
	padding-bottom: .5rem;
	z-index: 100;
}

.header-overlay {
	position: absolute;
	left: 1rem;
	max-height: 100%;
}

	.header-overlay h1 {
		font-size: 2.25rem;
		font-weight: bolder;
		color: black;
	}

.relative {
	position: relative;
}

.fullrow {
	height: 100vh;
	min-height: 30rem;
}

.halfrow {
	height: 50vh;
	min-height: 15rem;
}

.thirdrow {
	height: 33.3vh;
	min-height: 10rem;
}

.sixthrow {
	height: 16.66vh;
	min-height: 5rem;
}

/*TYPE*/

.preview {
	position: absolute;
	left: 1rem;
	width: 33%;
}

	.overlay {
		top: 0;

	}

	.overlay h1 {
		font-weight: lighter;
		font-size: 3.75rem;
		color: black;
	}

	.overlay h2 {
		font-size: 3.5rem;
		font-weight: lighter;
		color: black;
		line-height: .625;
	}
	
	.large-small h1 {
			font-size: 4.75rem;
			font-weight: lighter;
			color: black;
		}

		.large-small h2 {
			font-size: 3.75rem;
			font-weight: lighter;
		color: black;
		line-height: .625;
		} 


	.large-large h1 {
		font-size: 3.75rem;
		font-weight: lighter;
			color: black;
	}

	.large-large h2 {
		font-size: 3.5rem;
		font-weight: lighter;
		color: black;
		line-height: .625;
	}


.project-header {
	padding-top: 18.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	min-width: 175px;
}

	.project-header h1, .project-header h2, .project-header p {
		color: black;
		font-weight: normal;
	}

	.project-header h1 {
		font-size: 3.5rem;
		line-height: .9;
	}

	.project-header h2 {
		font-size: 1.5rem;
		line-height: 2;
		margin-bottom: 3rem;
	}

	.project-header p {
		font-size: 1rem;
	}

.project-copy {
		min-width: 350px;
}

	.project-copy p {
		padding: 2rem;
		padding-bottom: 0;
		min-width: 175px;
		font-size: 1rem;
	}

.bio-overlay {
	position: absolute;
	top: .75rem;
	left: 1rem;
}

	.bio-overlay h1, .bio-overlay h2 {
		font-weight: lighter;
		font-size: 1.75rem;
		color: white;
	}

/*IMAGES*/

.hero {
	/*background-image: url('../img/');*/
	background-repeat: no-repeat;
    background-position: center;
	}

.subhero {
	background-image: url('../img/small_preview_fullrow1_750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

.preview_0 {
	background-image: url('../img/small_preview_fullrow2_750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

.preview_1 {
	background-image: url('../img/small_preview_halfrow1_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

.preview_2 {
	background-image: url('../img/small_preview_halfrow2_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}	

.preview_3 {
	background-image: url('../img/small_preview_halfrow3_750x600.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

.preview_4 {
	background-image: url('../img/small_preview_halfrow4_800x800.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

.selfie {
	background-image: url('../img/small_selfie_750x500.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

/*FOOTER*/

.social {
	padding-top: 2.5rem;
	height: 25vh;
}

.contact {
	padding-top: 4rem;
	padding-bottom: 2rem;
}

	.contact h1 {
		font-size: 1.5rem;
		padding-left: 1rem;
		line-height: 1;
	}

.subhead {
	padding: 1rem;
}

	.subhead h1 {
		font-size: 2rem;
		margin-bottom: 0;
		font-weight: normal;
	}

	.slick-prev{
      display: block;
      top: 64.5%;
      left: 0;
      width: 25vw;
  
    }

    .slick-next{
      display: block;
	  top: 64.5%;
      right: 0;
      width: 25vw;
      
    }

    .slick-next:before {
    	
      }
    
    .slick-prev:before {
    	
      }



/*/MEDIA QUERIES*/

/* Medium and up */
@media screen and (min-width: 40em) {
	
	.overlay {
		top: .6rem;
	}

	.overlay h1 {
		font-size: 2rem;
	}

	.overlay h2 {
		font-size: 1.75rem;
	}

	.large-large {
		top: .6rem;
	}

	.large-small h1 {
			font-size: 3.75rem;
		}

		.large-small h2 {
			font-size: 3.5rem;
	}

		.large-large h1 {
		font-size: 2rem;
	}

	.large-large h2 {
		font-size: 1.75rem;
	}

	.hero {
	background-image: url('../img/medium_hero_1100x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.subhero {
	background-image: url('../img/medium_preview_fullrow1__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_0 {
	background-image: url('../img/medium_preview_fullrow2__750x1000.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_1 {
	background-image: url('../img/medium_preview_halfrow1_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_2 {
	background-image: url('../img/medium_preview_halfrow2_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_3 {
	background-image: url('../img/medium_preview_halfrow3_600x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_4 {
	background-image: url('../img/medium_preview_halfrow4_1100x800.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.selfie {
	background-image: url('../img/medium_selfie_1200x500.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {

	.overlay {
		top: 1.3rem;
	}

	.overlay h1 {
		font-size: 2.5rem;
	}

	.overlay h2 {
		font-size: 2rem;
	}

	.large-small h1 {
			font-size: 6rem;
		}

	.large-small h2 {
			font-size: 4.75rem;
	} 


	.large-large h1 {
		font-size: 3.75rem;
	}

	.large-large h2 {
		font-size: 3rem;
	}

.project-overlay h1 {
	font-size: 2rem;
	}
	.hero {
	background-image: url('../img/large_hero_1500x1200.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.subhero {
	background-image: url('../img/large_preview_fullrow1_900x1100.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_0 {
	background-image: url('../img/large_preview_fullrow2__900x1100.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_1 {
	background-image: url('../img/large_preview_halfrow1_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_2 {
	background-image: url('../img/large_preview_halfrow2_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}	

	.preview_3 {
	background-image: url('../img/large_preview_halfrow3_700x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}

	.preview_4 {
	background-image: url('../img/large_preview_halfrow4_1500x900.jpg');
	background-repeat: no-repeat;
    background-position: center;
   
	}

	.selfie {
	background-image: url('../img/large_selfie_1500x750.jpg');
	background-repeat: no-repeat;
    background-position: center;
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

