<div ="slider">

	<div  class="one-time">

        <div class="large-hero-1">
        	<div class="largeherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="large-hero-2">
        	<div class="largeherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="large-hero-3">
        	<div class="largeherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="large-hero-4">
        	<div class="largeherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="large-hero-5">
        	<div class="largeherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="large-hero-6">
			<div class="largeherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="large-hero-7">
			<div class="largeherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
    </div>

</div>

     <script src="js/custom/slick.js"></script>