<div ="slider">

  <div  class="one-time">
       
        <div class="medium-hero-1">
        	<div class="mediumherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="medium-hero-2">
        	<div class="mediumherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="medium-hero-3">
        	<div class="mediumherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="medium-hero-4">
        	<div class="mediumherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="medium-hero-5">
        	<div class="mediumherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="medium-hero-6">
        	<div class="mediumherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="medium-hero-7">
        	<div class="mediumherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>

        
  </div>

</div>

 <script src="js/custom/slick.js"></script>