<div ="slider">

<div  class="one-time">
        <div class="small-hero-1">
        	<div class="smallherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="small-hero-2">
        	<div class="smallherotype">
        	<h1>Color of Change</h1>
        	<h2>Activism<h2>
        	</div>
        </div>
        <div class="small-hero-3">
        	<div class="smallherotype">
        	<h1>Wired</h1>
        	<h2>Ad/Layout<h2>
        	</div>
        </div>
        <div class="small-hero-4">
        	<div class="smallherotype">
        	<h1>Jeff</h1>
        	<h2>Photography<h2>
        	</div>
        </div>
        <div class="small-hero-5">
        	<div class="smallherotype">
        	<h1>Monsanto</h1>
        	<h2>Annual Report<h2>
        	</div>
        </div>
        <div class="small-hero-6">
        	<div class="smallherotype">
        	<h1>Juris Privati</h1>
        	<h2>Layout<h2>
        	</div>
        </div>
        <div class="small-hero-7">
        	<div class="smallherotype">
        	<h1>Grandpa Smell</h1>
        	<h2>Packaging<h2>
        	</div>
        </div>
    </div>

</div>

 <script src="js/custom/slick.js"></script>