<button type="button" class="slick-prev slick-arrow" aria-label="Previous" style="display: block;"></button>

<div ="slider">

<div  class="one-time fullrow">
        <div class="fullrow"><img src="img/small_hero1_750x1000.jpg"></div>
        <div class="fullrow"><img src="img/small_hero2_750x1000.jpg"></div>
        <div class="fullrow"><img src="img/small_hero3_750x1000.jpg"></div>
        <div class="fullrow"><img src="img/small_hero4_750x1000.jpg"></div>
        <div class="fullrow"><img src="img/small_hero5_750x1000.jpg"></div>
    </div>
  <button type="button" class="slick-next slick-arrow" aria-label="Next"></button>
    </div>
	<button type="button" class="slick-next slick-arrow" aria-label="Next"><img src="../img/nextHero.svg"></button>

 <script src="js/custom/slick.js"></script>