<div ="slider">

<div  class="one-time">
        <div class="small-hero-1">
        	<div class="smallherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="small-hero-2">
        	<div class="smallherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="small-hero-3">
        	<div class="smallherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="small-hero-4">
        	<div class="smallherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="small-hero-5">
        	<div class="smallherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="small-hero-6">
        	<div class="smallherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
        <div class="small-hero-7">
        	<div class="smallherotype">
        	<h1>SmokeOut Systems</h1>
        	<h2>Website<h2>
        	</div>
        </div>
    </div>

</div>

 <script src="js/custom/slick.js"></script>